html,
body {
  background-color: black;
  margin: 0 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0;
}
* {
  margin: 0;
  text-decoration: none;
  color: white;
}
.movieWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6vh;
}
